<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href='{% static "css/bootstrap.min.css" %}' />
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

    <!-- RACHESS Styles -->
    <link href="{% static 'styles.css' %}" rel="stylesheet" type="text/css" />


</head>

<body>

    <header class>
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                    <h2 class="font-weight-light">Submission Form</h2>
                    <p class="lead">Thank you for helping the rough sleepers</p>
                </div>
            </div>
        </div>
    </header>
    <form>
        <div class="form-group mx-auto" style="width: 500px;">

            <label for="location">Location</label>
            <input type="location" class="form-control" id="location" placeholder="Please key in the postal code or street address">
            <button type="button" onclick="initialize()" class="btn btn-outline-info btn-sm" style='margin-top: 10px'>Select from Map</button>
            <br>
            <br>

            <div class="custom-file">
                <input type="file" class="custom-file-input" id="homelessphoto">
                <label class="custom-file-label" for="homelessphoto">Upload a photo</label>
            </div>

            <br>
            <br>

            <label for="gender">Gender of Rough Sleepers</label>
            <br>
            <label class="radio-inline"><input type="radio" name="opgender" checked> Male</label>
            <label class="radio-inline"><input type="radio" name="opgender"> Female</label>
            <br>
            <br>
            <label for="gender">Race of Rough Sleeps</label>
            <br>
            <label class="radio-inline" style='padding-right: 5px'><input type="radio" name="oprace" checked> Chinese</label>
            <label class="radio-inline" style='padding-right: 5px'><input type="radio" name="oprace"> Malay</label>
            <label class="radio-inline" style='padding-right: 5px'><input type="radio" name="oprace"> Indian</label>
            <label class="radio-inline" style='padding-right: 5px'><input type="radio" name="oprace"> Eurasian</label>
            <label class="radio-inline"><input type="radio" name="oprace"> Others</label>
            <br>
            <br>

            <label for="nooftimes">How many times have you seen him/her around?</label>
            <select class="form-control" id="nooftimes">
                <option>Its my first time</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>>5</option>
            </select>
            <br>
            <br>
            <label for="othernote">Other Note</label>
            <textarea class="form-control" id="othernote" rows="3"></textarea>
        </div>




    </form>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- End of JS -->
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
    function initialize() {
        var loc = {};
        var geocoder = new google.maps.Geocoder();
        if(google.loader.ClientLocation) {
            loc.lat = google.loader.ClientLocation.latitude;
            loc.lng = google.loader.ClientLocation.longitude;

            var latlng = new google.maps.LatLng(loc.lat, loc.lng);
            geocoder.geocode({'latLng': latlng}, function(results, status) {
                if(status == google.maps.GeocoderStatus.OK) {
                    alert(results[0]['formatted_address']);
                };
            });
        }
    }

    google.load("maps", "3.x", {other_params: "sensor=false", callback:initialize});
        //Logic goes ehre

    </script>




</body>

</html>
